<footer class="footer">
  <div class="container">
     <%= link_to "sample app", root_path, id: "logo" %>
  <nav>
     <ul class="nav navbar-nav navbar-downup">
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</div>
</footer>